{% extends 'basic_app/base.html' %}
{% block body_block %}
  <div class="container mt-5">
    <div class="jumbotron">
        <form class="form-signin" method="post" action="{% url 'basic_app:user_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
          <label class="sr-only" for="username"></label>
          <input type="text" name="username" class="form-control" placeholder="Username">

          <label class="sr-only" for="password"></label>
          <input type="password" name="password" class="form-control" placeholder="Password">
          <p></p>

          <input type="submit" name="" value="Login" class="btn btn-lg btn-primary btn-block">

        </form>

    </div>
  </div>
{% endblock %}
